/*********************************************/
/*************** BODY *****************/
/*********************************************/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: volkhov, sans-serif;
}

a {
  text-decoration: none;
}

/*********** Couleur fond ***********/

.bgc-forms {
  background-color: #000000ce;
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
}

.bgc-article {
  background-image: url('../images/imageArticle.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  padding: 30px;
}

/* INTRODUCTION */

.bgc-mirror {
  background-color: rgba(240, 248, 255, 0.506);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.bgc-mirror p {
  padding: 5px;
}

/*********** TITRE  ***********/

h1 {
  /* Logo */
  text-transform: uppercase;
  padding-left: 5px;
  padding-top: 15px;
}

h1 > a {
  color: rgb(8, 8, 8);
}

h2 {
  /* home */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 0 auto 15px auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

h2::before,
h2::after {
  content: '';
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  margin: 0 5px;
  align-items: center;
  background: url('../images/imageTitre.png') no-repeat;
  background-size: 100%;
}

h3 {
  color: rgb(1, 1, 1);
  margin: 0 auto 15px auto;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  background-color: #9798b043;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
}

.title {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.4) 0 3px 6px;
}

/********** PARRALAX ***********/

.parralax {
  background-image: url('../images/imageParallax32.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

/************** Button **************/

button {
  display: block;
  background-color: #c6a86f;
  color: #fff;
  width: 200px;
  padding: 10px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #fff;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 767px) {
  h1 {
    font-size: 20px;
    margin-left: 20px;
    padding: 20px;
  }
  .parralax {
    background-position: top;
  }

  h2::before,
  h2::after {
    margin: 0 35px;
  }
}
