/*********************************************/
/*************** Universelle *****************/
/*********************************************/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: volkhov, sans-serif;
}

body {
    background-color: rgb(251, 251, 251);
}

.container {
    max-width: 1240px;
    margin: auto;
}

.container-main {
    background-color: #2A2E9C;
    max-width: 1150px;
    margin: auto;
}