/****** List Article *******/

.list-article {
  color: #fff;
}

.list-article > a {
  color: #000000;
  list-style-type: none;
}

.list-article > h2 {
  background-color: #fff;
}

.list-article p:nth-child(2) {
  padding: 15px;
}

.list-article p:nth-child(3) {
  font-size: 15px;
}

.list-article p {
  text-align: center;
}

.list-article a li {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.list-article a li:hover {
  background-color: rgb(166, 159, 126);
}

.list-article button {
  text-align: center;
}

.list-article button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.span-add-article {
  text-align: center;
  margin-right: 10px;
  font-size: 25px;
}

/****** Comments *******/

section.show-comments {
  margin-top: 20px;
}

section.show-comments main {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.need-co {
  /*! *********** Régler le probleme *********** */
  background-color: #fff;
}
.show-comments p:nth-child(1) {
  font-size: 15px;
  margin-bottom: 4px;
}
.show-comments p:nth-child(2) {
  font-size: 12px;
}
