/****************************/
/******* List Article *******/
/****************************/

.list-article > a {
  color: #000000;
  list-style-type: none;
}

.list-article > h2 {
  background-color: #fff;
}

.list-article p:nth-child(2) {
  padding: 0.93rem;
}

.list-article p:nth-child(3) {
  font-size: 0.93rem;
}

.list-article p {
  text-align: center;
}

.list-article a li {
  padding: 0.625rem;
  margin: 0.625rem;
  background: #000000;
  background: -webkit-linear-gradient(to right, #9a9898, #b4b2b2);
  background: linear-gradient(to right, #c2c0c0, #7f7f7f);
  border-radius: 0.625rem;
}

.list-article a li:hover {
  background-color: rgb(166, 159, 126);
}

.list-article button {
  text-align: center;
}

.list-article button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.span-add-article {
  text-align: center;
  margin-right: 0.625rem;
  font-size: 1.56rem;
}

#search {
  margin-left: 20px;
  width: 250px;
  border-radius: 10px;
}

.flex_search {
  display: flex;
  flex-direction: column;
}

/****************************/
/****** Show Comments *******/
/****************************/

section.show-comments {
  margin-top: 1.25rem;
}

section.show-comments main {
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  padding: 0.625rem;
  margin: 10px auto;
  max-width: 900px;
}

#need-co p {
  color: #000;
  text-align: center;
}

#need-co p a {
  color: rgb(255, 196, 0);
}

.show-comments p:nth-child(1) {
  font-size: 0.93rem;
  margin-bottom: 0.25rem;
}
.show-comments p:nth-child(2) {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.show-comments .btnCommentModif a {
  background-color: green;
  color: #fff;
  border-radius: 0.125rem;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  padding: 3px;
  font-size: 0.625rem;
}

.show-comments .btnCommentSuppr a {
  color: #fff;
  background-color: red;
  border-radius: 0.125rem;
  padding: 3px;
  font-size: 0.625rem;
}

.show-comments .btnCommentSuppr a:hover {
  background-color: rgb(203, 58, 58);
}

.show-comments .btnCommentModif a:hover {
  background-color: rgb(13, 149, 13);
}

@media screen and (min-width: 767px) {
  .flex_search {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
} ;
