footer {
    display: flex;
    flex-direction: column;
    background-color: #3257d8;
    color: white;
    padding: 35px;
    height: auto;
    text-align: center;
}

footer div {
    padding: 20px;
}

footer div .flex {
    display: flex;
    flex-direction: column;
}

footer div .flex a {
    padding: 10px;
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 767px) {

    footer {
        text-align: center;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    footer div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }

    h4 {
        display: flex;
        text-align: center;
        margin: auto;
        padding: 5px;
    }
}