footer {
    display: flex;
    flex-direction: column;
    background-color: #3257d8;
    color: white;
    padding: 35px;
    height: auto;
    text-align: center;
}

footer div {
    padding: 20px;
}

footer div .flex {
    display: flex;
    flex-direction: column;
}

footer div .flex a {
    padding: 10px;
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 767px) {

    footer div {
        text-align: center;
    }

    .colonne {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    h4 {
        padding: 5px;
        max-width: 200px;
        margin: auto;
        text-align: center;
    }
}