footer {
  display: flex;
  flex-direction: column;
  background-color: #5a442e;
  color: white;
  height: auto;
  text-align: center;
}

footer p {
  padding-bottom: 15px;
}

footer div {
  padding: 20px;
}

footer div a {
  color: #fff;
}

footer div .flex {
  display: flex;
  flex-direction: column;
}

footer div .flex a {
  padding: 10px;
  color: #fff;
}

.discord {
  text-align: center;
  margin-right: 10px;
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 767px) {
  footer div {
    text-align: center;
  }

  .colonne {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
