form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
  padding: 0.625rem;
  color: white;
  text-align: left;
}

fieldset {
  max-width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 0.625rem;
}

legend {
  color: #f9f4f4;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0 10px 0 10px;
}

input,
label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.625rem;
  max-width: 250px;
}

.img-user {
  background-image: url('../images/icones_monstre.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px 0;
}

textarea {
  text-align: start;
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

/************ Profil Utilisateur  *************/

.edit-user p {
  color: #fff;
  padding: 0.3rem;
}
