/* SECTION LAST ARTICLE */

main.bloc-article p {
  text-align: center;
  padding: 0.625rem;
}

/* SECTION ARTICLE + REPRISE MENU */

article {
  padding: 1.25rem;
  border-radius: 0.3rem;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

article main {
  background: #000000;
  background: -webkit-linear-gradient(to right, #9a9898, #b4b2b2);
  background: linear-gradient(to right, #c2c0c0, #7f7f7f);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 0.625rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-univers article:hover main {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
}

.main-univers article main.bg-bestiaire:hover {
  background-image: url('../images/home_univers/image-bestaire-home.jpeg');
  background-position: 20% 80%;
}

.main-univers article main.bg-armor:hover {
  background-image: url('../images/home_univers/image-armure-home.jpeg');
  background-position: 20% 10%;
}

.main-univers article main.bg-weapon:hover {
  background-image: url('../images/home_univers/image-arme-home.jpeg');
  background-position: 20% 10%;
}

.main-univers article main.bg-map:hover {
  background-image: url('../images/home_univers/image-carte-home.png');
  background-position: center;
}

.main-univers article p {
  text-align: center;
  color: rgb(1, 0, 0);
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 868px) {
  .bgc-mirror {
    padding: 0.625rem;
    margin: 20px auto;
    max-width: 600px;
  }

  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-univers {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .flex-article {
    max-width: 1000px;
  }

  .main-univers article main {
    padding: 1.25rem;
    height: auto;
  }
}

@media (min-width: 400px) and (max-width: 867px) {
  article main {
    background-position: 50% 70%;
  }
}
