/* INTRODUCTION */

.bgc-mirror {
  background-color: rgba(240, 248, 255, 0.506);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.title {
  background-color: #5a442e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.4) 0 3px 6px;
}

.bgc-mirror p {
  padding: 5px;
}

/* SECTION CARDS */

/* SECTION REPRISE MENU */

article {
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

article main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

article:hover main {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
}

article main.bg-bestiaire {
  background-image: url("../images/image-bestaire-home.jpeg");
}

article main.bg-armor {
  background-image: url("../images/image-armure-home.jpeg");
}

article main.bg-weapon {
  background-image: url("../images/image-arme-home.jpeg");
}

article main.bg-map {
  background-image: url("../images/image-carte-home.png");
}

article p {
  text-align: center;
  color: #fff;
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 868px) {
  .bgc-mirror {
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
  }

  .flex {
    display: flex;
    justify-content: space-around;
  }

  article {
    max-width: 25%;
  }

  article main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 150px;
  }
}

@media (min-width: 400px) and (max-width: 867px) {
  article main {
    background-position: 50% 70%;
  }
}
