.img-home {
    background-image: url("../../public/images/imgFondEcran1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    color: white;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.title {
    background-color: #3357D8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.40) 0 7px 3px;
}

.bgc-mirror {
    background-color: rgba(240, 248, 255, 0.506);
    border-radius: 10px;
    text-align: center;
}

.bgc-mirror p {
    padding: 15px;
    margin: 20px;
}

/*********** Couleur fond ***********/

.bgc-blue {
    background-color: #2A2E9C;
}

.bgc-oppacity {
    background-color: #3357d800;
}


/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (min-width: 767px) {

    .img-home {
        padding: 150px;
    }

    .bgc-mirror {
        padding: 10px;
    }
}