header {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.4) 0px 5px 3px 3px;
}

.toggle-btn {
  position: absolute;
  top: -5px;
  right: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8d9e3;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.toggle-btn .line {
  display: block;
  width: 70%;
  height: 0.188rem;
  background-color: #000000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}
.toggle-btn .line:first-of-type {
  top: 35%;
}
.toggle-btn .line:nth-of-type(2) {
  top: 50%;
}
.toggle-btn .line:last-of-type {
  top: 65%;
}

.toggle-btn.active .line:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.toggle-btn.active .line:nth-of-type(2) {
  opacity: 0;
}
.toggle-btn.active .line:last-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: baseline;
  padding-top: 50px;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: #1f1e1e;
  z-index: 999;
}

.icone-univers:hover::after {
  content: url('../images/fleche-vers-le-bas.png');
  margin-left: 0.93px;
}

.back {
  z-index: -10;
}

.navigation ul {
  list-style: none;
  font-size: 1.5em;
  line-height: 200%;
  font-family: sans-serif;
  color: #fff;
}

.navigation ul ul {
  font-size: 1.25rem;
}

.navigation ul a {
  color: #fff;
}

.navigation ul li a:hover {
  color: #a19999e6;
}

.navigation ul li {
  transform: translateX(-100vw);
  transition: 0.5s cubic-bezier(0.48, -0.66, 0.69, 0.54);
}
.back ul li {
  transition: none;
}
.navigation ul li:nth-of-type(1) {
  transition-delay: 0s;
}
.navigation ul li:nth-of-type(2) {
  transition-delay: 0.15s;
}
.navigation ul li:nth-of-type(3) {
  transition-delay: 0.3s;
}
.navigation ul li:nth-of-type(4) {
  transition-delay: 0.45s;
}
.navigation ul li:nth-of-type(5) {
  transition-delay: 0.6s;
}

.toggle-btn.active + .navigation ul li {
  transform: translateX(0);
}

/********* Toggle class ********/

.displayNone {
  display: none;
}

.menuDeroulant {
  display: block;
}

.active {
  position: fixed;
}
