/* Slider */

.slider {
    position: relative;
    margin: 30px auto;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slider .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(131, 121, 121, 0.543);
    border-radius: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.slider .arrow.prev {
    top: 50%;
    left: 30px;
}

.slider .arrow.next {
    top: 50%;
    right: 30px;
}

/*********************************************/
/************* MEDIA QUERIES *****************/
/*********************************************/

@media screen and (max-width: 767px) {
    .slider {
        margin: auto;
        padding: 10px;
        max-width: 100%;
    }
}